@model IEnumerable<Governament_SC_Project.Models.Expense>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h3>
    <b>
        <font color="green">
            @Html.ActionLink("Government Service for Citizen", "Index", "Default", new { area = "" }, new { @class = "navbar-brand" })
</h3></font></b>
            @Html.ActionLink("Accounts", "Index", "Accounts", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Customers", "Index", "Customers", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Bills", "Index", "Bills", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Expenses", "Index", "Expenses", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Incentives", "Index", "Incentives", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Inventories", "Index", "Inventories", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Items", "Index", "Items", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Outlets", "Index", "Outlets", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Payments", "Index", "Payments", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Sales", "Index", "Sales", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Staffs", "Index", "Staffs", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Stocks", "Index", "Stocks", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Vendors", "Index", "Vendors", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Staff Logout", "Logouts", "Logins", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav"></ul>
        </div>
    </div>
</div>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bill.B_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inventory.Inventory_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Incentive.Incentives_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock.Stock_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bill.B_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inventory.Inventory_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Incentive.Incentives_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock.Stock_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.E_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.E_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.E_ID })
        </td>
    </tr>
}

</table>
